/* Remove Footer on all pages*/
div.ddb-footer {
  display: none;
}

/* Removes top row with logo, search box, social media buttons and user buttons */
div.site-bar {
  display: none;
}

/* Removes top menu bar */
#mega-menu-target {
  display: none;
}

/* Removes mobile menu when browsing compendiums */
header.main {
  display: none!important;
}
