/* Removes top row with logo, search box, social media buttons and user buttons when browsing compendiums */
div.site-bar {
  display: none;
}

/* Removes top menu bar */
#mega-menu-target {
  display: none;
}

/* Move up background to compensate for removing nav and site-bar */
body.site {
  background-position: top;
}

/* Remove Breadcrumbs in compendiums */
nav.b-breadcrumb {
  display: none;
}

/* Remove Footer on all pages */
div.ddb-footer {
  display: none;
}

/* Removes social buttons
div.site-interactions-group-social {
  display: none;
}*/

/* Removes user buttons
div.site-interactions-group-user {
  display: none;
}*/
