/* Removes top row with logo, search box, social media buttons and user buttons when browsing compendiums - is restored on other pages with JavaScript*/
div.site-bar {
  display: none;
}

/* Removes top menu bar when browsing compendiums - is restored on other pages with JavaScript*/
nav.main {
  display: none;
}

/* Removes mobile menu when browsing compendiums */
header.main {
  display: none!important;
}

/* Move up background to compensate for removing nav and site-bar */
body.site {
  background-position: top;
}

/* Remove Breadcrumbs in compendiums*/
nav.b-breadcrumb {
  display: none;
}

/* Makes the "Back to Compendium" button move down */
div.compendium-quick-actions {
  top: 0px;
}

/* Removes social buttons */
div.site-interactions-group-social {
  display: none;
}

/* Removes user buttons */
div.site-interactions-group-user {
  display: none;
}

/* Remove Footer on all pages*/
div.ddb-footer {
  display: none;
}

/* Floating app-menu */
div.myFloatingMenu {
  background-color: rgb(255, 255, 220);
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  z-index: 5000;
  position: fixed;
  border: 1px solid rgb(209, 71, 71);
  top: 10%;
  left: 15%;
  max-height: 80%;
  line-height: 1.75em;
  width: 70%;
  overflow: auto;
  display: none;
  column-count: 3;
}

div.myFloatingMenu a:hover {
  color:white;
}

.myIntroButton {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  margin: 0px 40% 10px 40%;
  border-radius: 5px 5px 5px 5px;
}
